* {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  background-color: #efe6e4;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #533738;
  margin-right: 3em;
}
h2 {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  line-height: 62px;
  color: #533738;
  text-transform: uppercase;
}
h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

a {
  text-decoration: none;
  color: #533738;
}
a:hover {
  color: white;
}
p.request:hover {
  color: white;
  cursor: pointer;
}

header {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: flex-end;
}
#nav {
  display: flex;
  padding: 1em;
  width: 90%;
  align-items: center;
}
#logotip {
  display: flex;
}
#logotip::before {
  content: '';
  background: url(../image/logo/logo.png);
  display: inline-block;
  width: 25px;
  height: 25px;
}
#navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

#section_0 {
  background-color: #f9eae1;
  background-image: url(../image/section_0/back2x.webp),
    url(../image/section_0/back2x.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

#div_head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45em;
  padding: 10em 0 10em 15em;
}
h3 {
  margin: 0.5em;
  margin-left: 0em;
}
button.request {
  background-color: #cc8b86;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 500;
  position: relative;
  text-align: center;
  margin: 1em;
  margin-left: 0em;
  width: 15em;
  height: 3.5em;
}

#section1_h2 {
  text-align: center;
  margin-top: 0.5em;
}

#section1_div {
  display: flex;
  flex-direction: row;
  padding: 1em 2em 1em 15em;
}
#section1_text {
  margin: 0 10%;
}
#section1_footer {
  height: 5em;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: #8d7370;
  color: #ffffff;
  font-size: 50px;
  line-height: 62px;
  font-style: normal;
  text-transform: uppercase;
}
.p1 {
  font-weight: 500px;
  font-size: 30px;
  line-height: 37px;
}

#section_2 {
  padding: 5em;
  margin: 0 4em;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#section_2_h2 {
  margin-bottom: 1em;
  padding-right: 16em;
}

#section_2_Content {
  display: flex;
  flex-direction: column;
}
.item-a,
.item-b {
  display: flex;
  margin: 1em 0;
}
.sub1-item-a,
.sub1-item-b {
  margin-right: 0.2em;
}
.sub2-item-a,
.sub2-item-b {
  margin-left: 1.2em;
}
.sub1-item-a,
.sub1-item-b,
.sub2-item-a,
.sub2-item-b {
  position: relative;
  overflow: hidden;
}

.sub1-item-a:hover::after,
.sub1-item-b:hover::after,
.sub2-item-a:hover::after,
.sub2-item-b:hover::after {
  height: 150%;
  width: 100%;
  content: attr(title);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(100, 72, 69, 0.8);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  margin-top: -2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub1-item-a:hover::before,
.sub1-item-b:hover::before,
.sub2-item-a:hover::before,
.sub2-item-b:hover::before {
  height: 100%;
  width: 80%;
  content: attr(data-text);
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  padding: 1.5em 3em 2em 3em;
}

#next-picture {
  display: inline-block;
  font-size: 30px;
  line-height: 37px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
}
#next-picture::after {
  content: '';
  background: url(../image/section_2/Arrow.svg);
  display: inline-block;
  margin-left: 0.3em;
  width: 61.2px;
  height: 17.2px;
}
div.next-picture {
  text-align: center;
}
#section_3 {
  padding: 4em;
  background: #e2c4ba;
}
#section_3_h2 {
  text-align: center;
}
#section_3_Content {
  display: flex;
  flex-direction: row;
  margin: 3em 8em;
  position: relative;
}
.section-3-content-a {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#section_3_Content-2 {
  display: flex;
  text-align: center;
  padding: 3em 4em;
}
#section-3-content-2-item1::before {
  content: '1';
  background: #8d7370;
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 2.3em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
#section-3-content-2-item2::before {
  content: '2';
  background: #8d7370;
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 2.3em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
#section-3-content-2-item3::before {
  content: '3';
  background: #8d7370;
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 2.3em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
#section-3-content-2-item4::before {
  content: '4';
  background: #8d7370;
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 2.3em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
#section_4 {
  margin: 4em 16em;
}
#section_4_h2 {
  text-align: center;
}
#ection_4-content-1-a {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  position: relative;
}
#section_4-content-1-aa {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#section_4-content-1-b {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
}
.section-4-content-1-bb {
  padding: 0.5em 0;
}
#section_4-content-1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 1em;
}
.section-4-content-1-and-buttons {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 2em 4em;
}
.section-4-content-1-buttons {
  border-radius: 50%;
  margin: 0 2em 0 0;
}
.alt-button {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  margin: 0 0 0 2em;
}

#section-5-contain {
  max-width: 100%;
  background-color: #8d7370;
}
#section-5-request {
  display: flex;
  flex-direction: row;
  margin: 0 5em;
}
#sec-5-request {
  margin: 4em 1.3em 4em 8em;
}
h2.sec-5-req {
  color: white;
  font-size: 40px;
  line-height: 50px;
}
h3.sec-5-req {
  margin-top: 1em;
  opacity: 0.6;
  color: white;
}

input.inputs {
  height: 3em;
  width: 100%;
  margin: 1em 0 1.3em 0;
  color: #f6ede9;
  background: transparent;
  border-bottom: 1.5px solid #f6ede9;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  padding-left: 0.2em;
}
::placeholder {
  color: #f6ede9;
  text-overflow: ellipsis;
}
:focus::placeholder {
  color: transparent;
}

h3.request {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  color: #533738;
}

#sec-5-map {
  height: 100%;
  border: 0;
  margin-left: 1.5em;
}

.contain-footer {
  position: relative;
  display: flex;
  margin: 2em 3em;
  flex-direction: row;
  align-items: center;
}
.sub-contain-footer {
  flex-grow: 0;
}
.sub-contain-footer-two {
  flex-grow: 1;
  margin-left: 3em;
}
