* {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  background-color: #efe6e4;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #533738;
  margin-right: 3em;
}
h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 62px;
  color: #533738;
}
h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;

  color: #533738;
}
h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}
h5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}
h6 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #533738;
}

a {
  text-decoration: none;
  color: #533738;
}
a:hover {
  color: white;
}

header {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: flex-end;
}
.menu {
  display: flex;
  padding: 1em;
  width: 90%;
  align-items: center;
}
.logotip {
  display: flex;
  align-items: center;
}
.logotip::before {
  content: '';
  background: url(../image/logo/logo.png);
  display: inline-block;
  width: 25px;
  height: 25px;
}
.navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

#head {
  background-color: #f9eae1;
  background-image: url(../image/section_0/back2x.webp),
    url(../image/section_0/back2x.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.head-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45em;
  padding: 10em 0 10em 15em;
}

.head-content__data-text {
  margin: 1em 0;
}

.button-request {
  background-color: #cc8b86;
  position: relative;
  text-align: center;
  width: 15em;
  height: 3.5em;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #533738;
}

.about-the-company__h3 {
  margin-top: 0.5em;
}

.section-h3 {
  text-align: center;
  margin: 1.5em 0 0.5em 0;
}

.header-about-the-company {
  display: flex;
  flex-direction: row;
  padding: 1em 2em 1em 15em;
}
.header-text-about-the-company {
  margin: 0 10%;
}
.header-text-about-the-company__h4 {
  margin-left: -3em;
}
.footer-about-the-company {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: #8d7370;
  height: 20em;
}

.items-footer-about-the-company__h2 {
  color: #ffffff;
}
.items-footer-about-the-company__h5 {
  text-transform: uppercase;
  color: #ffffff;
}

.case-conteiner {
  padding: 4em;
  margin: 0 4em;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.case-conteiner__h3 {
  margin: 0 1em 1em 0;
  align-self: start;
}

.case-conteiner__content {
  display: flex;
  flex-direction: column;
}
.case-conteiner__content-item-a,
.case-conteiner__content-item-b {
  display: flex;
  margin: 1em 0;
}
.case-conteiner__content-sub1item-a,
.case-conteiner__content-sub1item-b {
  margin-right: 0.2em;
}
.case-conteiner__content-sub2item-a,
.case-conteiner__content-sub2item-b {
  margin-left: 1.2em;
}
.case-conteiner__content-sub1item-a,
.case-conteiner__content-sub1item-b,
.case-conteiner__content-sub2item-a,
.case-conteiner__content-sub1item-b {
  position: relative;
  overflow: hidden;
}

.case-conteiner__content-sub1item-a:hover::after,
.case-conteiner__content-sub1item-b:hover::after,
.case-conteiner__content-sub2item-a:hover::after,
.case-conteiner__content-sub1item-b:hover::after {
  height: 150%;
  width: 100%;
  content: attr(title);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(100, 72, 69, 0.8);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  margin-top: -2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.case-conteiner__content-sub1item-a:hover::before,
.case-conteiner__content-sub1item-b:hover::before,
.case-conteiner__content-sub2item-a:hover::before,
.case-conteiner__content-sub1item-b:hover::before {
  height: 100%;
  width: 80%;
  content: attr(data-text);
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  padding: 1.5em 3em 2em 3em;
}

.case-next-picture {
  text-align: center;
}
.case-next-picture__p {
  display: inline-block;
  color: #533738;
  margin-top: 0.8em;
}
.case-next-picture__p::after {
  content: '';
  background: url(../image/section_2/Arrow.svg);
  display: inline-block;
  margin-left: 0.3em;
  width: 61.2px;
  height: 17.2px;
}

#team {
  background: #e2c4ba;
}
.team__h3 {
  padding-top: 1.5em;
  margin-top: -0.2em;
}
#item-a {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
#item-a-text {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
}
#item-b {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}
#item-b-text {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}
#item-c {
  grid-column: 3 / 3;
  grid-row: 1 / 1;
}
#item-c-text {
  grid-column: 3 / 3;
  grid-row: 2 / 2;
}
.team-conteiner {
  display: flex;
  justify-content: center;
}
.team__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 1em;
  max-width: min-content;
}

.team__content-items {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.how-we-work-content {
  display: flex;
  text-align: center;
  padding: 2em 4em 8em 4em;
}
.how-we-work-content__items::before {
  content: attr(data-text);
  background: #8d7370;
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 0.6em;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 2.3em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

#reviews {
  margin: 4em 16em;
}
#section_4_h2 {
  text-align: center;
}
.reviews-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 2em 4em;
}
.reviews-content__text-pictures {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 1em;
}
.reviews-content__text {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.reviews-content__pictures {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
}
.reviews-content__pictures-item {
  padding: 0.5em 0;
}
.reviews-content__buttons-a {
  border-radius: 50%;
  margin: 0 2em 0 0;
}
.alt-button {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  margin: 0 0 0 2em;
}

#request {
  max-width: 100%;
  background-color: #8d7370;
}
.request-contain {
  display: flex;
  flex-direction: row;
  margin: 0 5em;
}
.request-contain__form {
  margin: 1em 1.3em 8em 8em;
}
.request-contain__form-h3 {
  color: white;
  text-align: left;
}
.request-contain__form-h4 {
  margin: 2em 0;
  opacity: 0.6;
  color: white;
}

input.inputs {
  height: 3em;
  width: 100%;
  margin: 1em 0 1.3em 0;
  color: #f6ede9;
  background: transparent;
  border-bottom: 1.5px solid #f6ede9;
  padding-left: 0.2em;
}
::placeholder {
  color: #f6ede9;
  text-overflow: ellipsis;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
:focus::placeholder {
  color: transparent;
}
.button-request {
  margin-top: 1em;
}
.button-request__p:hover {
  color: white;
  cursor: pointer;
}

#sec-5-map {
  height: 100%;
  border: 0;
  margin-left: 1.5em;
}

.contain-footer {
  position: relative;
  display: flex;
  margin: 2em 3em;
  flex-direction: row;
  align-items: center;
}
.sub-contain-footer {
  flex-grow: 0;
}
.sub-contain-footer-two {
  flex-grow: 1;
  margin-left: 3em;
}
